@use "mixin" as m;
@use "variable" as v;
@use "font" as f;
@use "sass:math";

@import "base";

//main scss

//Global Declaration
.container{
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.txt-deco{
    text-decoration: underline;
}
// @for $i from 1 through 12 {
//     $width: calc(percentage(1 / $i));
  
//     .col-#{$i} {
//       width: $width;
//     }
//   }

@include m.cols();
// .col-2{
//     width: 20%;
//  }
// .col-3{
//     width: calc(100%/3);
// }
// .col-8{
//      width: 80%;
// }
//  .col-5{
//     width: 50%;
// }
// .col-4{
//     width: calc(100%/4);
// }
.d-flex{
    display: v.$d-flex;
    justify-content: v.$content-center;
    align-items: v.$content-center;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
@include m.font-face('Lato', 'AnyConv.com__Lato-Regular', 'Lato');

/*---------------------------Header CSS Start --------------------------*/
.main-nav{
    width: 100%;   
    .navbar-main{
        @extend .d-flex;
        #check1 {
            display: none;
        }
        .checkbtn1{
            display: none;
            @include m.lg{
                display: block;
                z-index: 99;
                font-size: larger;
            }
        }

        .fa-btn{
            @include m.lg{
                z-index: 99;
            }
        }

        .fa.fa-bars{
            @include m.lg{
                font-size: f.$fs-31;
                padding: 18px;
                color: #e84545;
            }
        }

        .btn-book{
            text-align: center;
            input{
                @include m.txt-btn();
                @include m.p-l-r-btn();
                font-family: "Lato";  
            }
        }
       
        @include m.lg{
            transition: .5s;
        }
    }
    .nav-flex{
        @extend .d-flex;
        justify-content: space-evenly;
        list-style: none;
        @include m.lg{
            position: fixed;
            height: 100vh;
            width: 100%;
            background-color: #FFFFFF;
            // background-color: rgb(224 228 233 / 73%);
            top: 0;
            right: -100%;
            text-align: center;
            transition: all .5s;
            z-index: 99;
            display: block;
            margin: 0 auto; 
            z-index: 9;
            cursor: pointer;
        }
        .active{
            @extend .txt-deco;
            color: #FF0000;
        }
        li{
            @include m.lg{
                padding: 20px;
            }
        }
        li a{
            @include m.ff-li();

            &:hover{
                color: red;
                @extend .txt-deco;
            }
           
        }
    }
    
    

    #check1:checked~.topnav {
        @include m.lg{
            right: 0;
        }
    }
    //Responsive
    
}
/*---------------------------Header CSS End --------------------------*/

/*---------------------------banner-bg-img CSS Start --------------------------*/
.bg-img{
  img{
    width: 100%;
    object-fit: cover;
  }
}
/*---------------------------banner-bg-img CSS End --------------------------*/

/*---------------------------txt section start --------------------------*/
.txt{
    margin-top: 50px;
    h2{
        font-weight: f.$fw-700;
        font-size: f.$fs-52;
        line-height: 62px;
        text-align: center;
        color: #572B39;
        margin-bottom: 20px;
    }
    p{
        font-size: f.$fs-20;
        line-height: 40px;
        text-align: center;
        color: #414141;
        margin-bottom: 20px;
    }
   
        text-align: center;
        input{
            @include m.txt-btn();
            @include m.p-l-r-btn();
            font-family: 'Lato';
            
        }

}
/*---------------------------txt section end --------------------------*/

/*---------------------------img-txt section start --------------------------*/
.img-txt{
    margin-top: 80px;
    
    .d-flex{
        background: #FFF4EF;    
        @extend .d-flex;
        @include m.lg{
            flex-direction: column;
        }
        .img{
            img{
                object-fit: cover;
                width: 100%;
            }
        }
       .txt{
        margin: 0 auto;
        max-width: 400px;
        h3{
            font-size: f.$fs-32;
            font-weight: f.$fw-700;
            color: #572B39;
            text-align: left;
            margin-bottom: 30px;
            margin-top: 80px;
        }
        p{
            font-size: f.$fs-20;
            color: #414141;
            text-align: left;
        }
       }
    }  
   
}
/*---------------------------img-txt section end --------------------------*/

/*---------------------------img-txt section start --------------------------*/
.img-text-second{
    @extend .img-txt;
}
/*---------------------------img-txt section end --------------------------*/

/*---------------------------card section start --------------------------*/
.card-sec{
    margin-top: 80px;
    h3{
        font-size: f.$fs-48;
        font-weight: f.$fw-700;
        text-align: center;
        color: #572B39;
        margin-bottom: 20px;
    }
    p{
        font-size: f.$fs-20;
        text-align: center;
        color: #414141;
        margin-bottom: 32px;
    }
    .d-flex{
        justify-content: space-evenly;
        @include m.lg{
            flex-direction: column;
        }
        .card{
            background: #EBDAD7;
            padding: 40px 69px;
            margin-bottom: 31px;
            .icn{
                margin-bottom: 26px;
            }
        }
       
    }
    text-align: center;
    input{
        @include m.txt-btn();
        @include m.p-l-r-btn();
        font-family: "Lato";  
    }
}
/*---------------------------card section end --------------------------*/

/*---------------------------contact section start --------------------------*/
.contact{
    margin-top: 80px;
    background: #EBDAD7;
    .d-flex{
        justify-content: space-evenly;
        .icon-1{
            gap: 20px;
            margin-top: 52px;
            margin-bottom: 52px;
            .icon{
                
                i{
                    background-color: #000000; color: #F3F3F3; padding: 21px 20px; border-radius: 50%;margin-top: 30px;font-size: f.$fs-20;
                    &:hover{
                        cursor: pointer;
                        background-color: #FFFFFF;
                        color: #000000;
                    }
                }
                a{
                    text-decoration: none;
                    color: #F3F3F3;
                }
                
            }
            &:hover{
                cursor: pointer;
            }
            p{
                font-size: 16px;
                line-height: 28px;
                /* identical to box height, or 175% */
                text-align: center;

                color: #414141;
                a{
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }
    
}
/*---------------------------contact section end --------------------------*/

.ftr{
    background: #FFF4EF;
    padding: 80px 127px;
    .d-flex{
        align-items: unset;
        justify-content: unset;
        
        .col-4{
            gap: 20px;
            
            h3{
                font-size: f.$fs-22;
                text-decoration-line: underline;
                font-weight: f.$fw-700;
                color: #572B39;
            }
            p{
                font-size: f.$fs-16;
                letter-spacing: 0.06em;
                color: #414141;
            }
            input{
                padding: 10px 40px;
            }
            .d-flex{
                gap:unset;
            }
            .btn-sub{
                @include m.txt-btn();
                border-radius: 0%;
                font-family: "Lato";
            }
        }
        .col-3{
            h3{
                font-size: f.$fs-22;
                text-decoration-line: underline;
                font-weight: f.$fw-700;
                color: #572B39;
            }
            ul{
                
                justify-content: center;
                
                li{
                    font-size: f.$fs-20;
                    color: #414141;
                    padding: 20px;
                    width: 50%;
                }
            }
        }
    }
}