*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, tt, u, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  font-family: "Arial";
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.txt-deco, .main-nav .nav-flex li a:hover, .main-nav .nav-flex .active {
  text-decoration: underline;
}

.col-2 {
  width: 20%;
  padding: 7px 0px;
}

.col-8 {
  width: 80%;
  padding: 7px 0px;
}

.col-5 {
  width: 50%;
}

.col-8 {
  width: 66.66%;
}

.col-4 {
  width: 33.33%;
}

/*---------------------------Header CSS Start --------------------------*/
.main-nav {
  width: 100%;
}
.main-nav .navbar-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav .navbar-main #check1 {
  display: none;
}
.main-nav .navbar-main .checkbtn1 {
  display: none;
}
@media (max-width: 992px) {
  .main-nav .navbar-main .checkbtn1 {
    display: block;
    z-index: 99;
    font-size: larger;
  }
}
@media (max-width: 992px) {
  .main-nav .navbar-main .fa-btn {
    z-index: 99;
  }
}
@media (max-width: 992px) {
  .main-nav .navbar-main .fa.fa-bars {
    font-size: 31px;
    padding: 18px;
    color: #e84545;
  }
}
@media (max-width: 992px) {
  .main-nav .navbar-main {
    transition: 0.5s;
  }
}
.main-nav .nav-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}
@media (max-width: 992px) {
  .main-nav .nav-flex {
    position: fixed;
    height: 350px;
    width: 100%;
    background-color: rgba(224, 228, 233, 0.73);
    top: 0;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 99;
    display: block;
    margin: 0 auto;
    z-index: 9;
    cursor: pointer;
  }
}
.main-nav .nav-flex .active {
  color: #FF0000;
}
@media (max-width: 992px) {
  .main-nav .nav-flex li {
    padding: 20px;
  }
}
.main-nav .nav-flex li a {
  list-style: none;
  text-decoration: none;
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.main-nav .nav-flex li a:hover {
  color: red;
}
.main-nav .search-input {
  position: relative;
}
.main-nav .plc-src {
  padding: 10px;
  border: 1px solid #555555;
  border-radius: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #555555;
  width: 100%;
}
.main-nav .icon {
  position: absolute;
  right: 20px;
  bottom: 13px;
  color: #6C757D;
}
@media (max-width: 992px) {
  .main-nav #check1:checked ~ .topnav {
    right: 0;
  }
}

/*---------------------------Header CSS End --------------------------*/
/*---------------------------Table CSS Start --------------------------*/
.table {
  margin-top: 96px;
  margin-bottom: 80px;
}
.table .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table .txt h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 40px;
  color: #FF0000;
  margin-bottom: 50px;
}
.table .txt p {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #414141;
  margin-bottom: 44px;
}
.table .tbl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1200px) {
  .table .tbl {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .table .tbl .tbl-1 {
    margin-bottom: 20px;
  }
}
.table .tbl .tbl-1 table {
  width: 600px;
  height: auto;
  border-collapse: collapse;
}
.table .tbl .tbl-1 table .bg {
  background: #F5F5F5;
}
.table .tbl .tbl-1 table tr {
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #414141;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(44, 44, 44, 0.1);
}
.table .tbl .tbl-1 table tr th {
  background: #3092F9;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 8px;
}
.table .tbl .tbl-1 table tr td {
  padding: 10px;
}

/*---------------------------Table CSS End --------------------------*/

/*# sourceMappingURL=main.css.map */
