.main-header{
    @media (max-width:1200px) {
        background-color: blue;
    }
    h1{
        @media (max-width:1200px) {
            background-color: blue;
            font-size: 60px;
        }
    }
    p{
        @media (max-width:1200px) {
           border-radius: 20px;
           color: red;
        }
    }
}
