@use "breakpoints" as b;
@use "function" as f;




//Mixin for ff
@mixin ff-li{
    list-style: none;
    text-decoration: none;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

//Mixin for font-size
@mixin font-size($size) {
    font-size: f.calculateRem($size);
}

//Mixin for Padding left-right-15
@mixin p-l-r-15{    
    padding-left: 15px;
    padding-right: 15px;
}

//Mixin for buttons
@mixin txt-btn{
    background: #000000;
    border: 1px solid #CFCFCF;
    color:white;
    cursor: pointer;
    padding: 10px;
    
    &:hover{
        background: #FFFFFF;
        color: #000000;
    }
}

//Mixin for display flex

@mixin flexCenter {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
//Responsive

// Mixin For All Section
@mixin xl {
    
    @media (max-width: #{b.$screen-xl-min}) {
        @content;
    }

}
@mixin lg {
    
    @media (max-width: #{b.$screen-lg-min}) {
        @content;
    }

}
@mixin md {
    
    @media (max-width: #{b.$screen-md-min}) {
        @content;
    }

}
@mixin sm {
    
    @media (max-width: #{b.$screen-sm-min}) {
        @content;
    }

}
@mixin xsm {
    
    @media (max-width: #{b.$screen-xsm-min}) {
        @content;
    }

 }
